@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    background-color: #f9f7f6;
    color: #021627;
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    scroll-behavior: smooth;
}

.el-message {
    font-family: 'Zain', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}

.el-message__content {
    width: 80vw;
    font-size: 19px !important;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 92vw;
    margin: 0 4vw;
}
