@import 'variables.scss';

.sign-up-page {
  .header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: $background-color;
    width: 100%;
    height: 70px;
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      width: 50%;
      display: flex;
      align-items: center;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      img {
        width: 35px;
        margin-right: 10px;
      }

      span {
        font-family: 'Comfortaa', sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        color: $text-color;
      }
    }

    &-button {
      .el-button {
        z-index: 2 !important;
        color: $background-color !important;
        background-color: $primary-color !important;
        border-color: $primary-color !important;
        border-radius: 20px !important;
        padding: 18px 25px;
        font-family: 'Zain', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;

        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
  }

  .el-form-item {
    margin-bottom: 30px;

    label {
      font-family: 'Zain', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      color: $text-color;
      margin-bottom: 5px !important;
    }

    .el-input__wrapper {
      padding: 3px 15px;
    }

    .el-select__wrapper {
      padding: 15px;
    }

    .el-input__inner,
    .el-select__selection {
      font-family: 'Zain', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
    }
  }

  .slide {
    min-height: 100vh;
    padding: 60px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      img {
        width: 30px;
      }
    }

    h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      line-height: 1.2;
      color: $primary-color;
      text-align: center;
    }

    a {
      display: flex;
      justify-content: center;

      button {
        width: 80%;
      }
    }

    .el-button {
      z-index: 2 !important;
      color: $background-color !important;
      background-color: $accent-color !important;
      border-color: $accent-color !important;
      border-radius: 50px !important;
      margin-left: 5%;
      margin-top: 30px;
      width: 90%;
      padding: 22px 25px;
      font-family: 'Zain', sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 23px;

      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .other-option {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    hr {
      width: 90%;
      border: 1px solid $gray-line-color;
    }

    p {
      margin-top: 10px;
      font-family: 'Zain', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;

      a {
        margin-left: 5px;
        display: inline;
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }
}
