$text-color: #021627;
$background-color: #f9f7f6;
$primary-color: #03336d;
$secondary-color: #6daad9;
$accent-color: #e23c55;

$preloader-color: #9b2839;

$feature-text-color: #6091b8;
$feature-color: #80bff3;

$block-4-background-color: #ddecff;

$gray-line-color: #d6dcdd;

$timetable-background-color: #e9e9e9;
$timetable-period-color: #cacaca;
$timetable-date-color: #6091b8;
$timetable-check-sign-color: #39ce72;
$timetable-cross-sign-color: #e45368;
$timetable-group-color: #456986;
$timetable-attended-color: #39ce72;
$timetable-skipped-color: #e45368;

$statistics-subject-select-color: #42866c;
$statistics-subject-select-active-color: #1cd38d;
$statistics-progress-bar-color: #d1c9c9;
